html {
    direction: rtl;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: iransans;
}

h2 {
    margin: 0.8em 0;
}
h3{
    margin: 0;
    padding: 0;
}

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}
.flex {
    display: flex;
}
select,
input {
    font-family: inherit;
}